<div class="container">
  <h1 class="text-center mb-3">Phones</h1>
  <table class="table table-hover table-bordered table-striped-columns ">
    <tr>
      <th>
        <div class="text-center">
          <button class="btn btn-primary" (click)="newPhone()">New</button>
        </div>
      </th>
      <th>Brand</th>
      <th>Model</th>
      <th>Storage</th>
      <th>RAM</th>
      <th>Price</th>
    </tr>
    @for (ph of phones; track $index) {
    <tr>
      <td>
        <div class="d-flex justify-content-around">
          <button class="btn btn-primary" (click)="modifyPhone(ph)">Edit</button>
          <button class="btn btn-danger" (click)="deletePhone(ph)">Delete</button>
        </div>
      </td>
      <td>{{ph.brand}}</td>
      <td>{{ph.model}}</td>
      <td>{{ph.storage}}</td>
      <td>{{ph.ram}}</td>
      <td>{{ph.price}}$</td>
    </tr>
    }
  </table>
</div>
<app-phone [Pmodel]="modify" (saved)="saveModify($event)"></app-phone>
<app-phone [Pmodel]="new" (saved)="saveNew($event)"></app-phone>
